.box {
    
    margin: 0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

.vi-bg{
    position: center;
    top:0;
    left:0;
    height: 40vh;
    width: 40vw;
    align-items: center;
    display: block;
    margin: 40px 0;
    max-width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    margin-top: 40px; /* move video slightly down */
    max-width: 80%;
}
.content{
    z-index: 10;
    color:black;
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 10px;    /* distance from bottom */
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;

}

.contact-box {
    width: 250px;
    padding: 20px;
    background: #ffffff;
    border: 2px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    position: fixed;
    right: 30px;
    top: 120px;  /* position contact box */
}

.contact-box h3 {
    margin-top: 0;
    text-align: center;
}