/* .stud {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: palevioletred;
    font-size: xx-large;
}

.container {
    border: 2px solid black;
    height:500px;
    width:500px;
    margin:100px 200px 100px 200px;
    background-color:beige;
    padding:20px;
    color:rgba(107, 47, 47, 0.847);
} */
.signup-container {
    height: 100vh;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup {

    border: none;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
    gap: 25px;
    box-shadow: 50px 50px 100px rgb(77, 58, 35);
    border-radius: 20px;
}

.data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.but {
    background-color: burlywood;
    display: flex;
    width: 100%;
    justify-content: center;
    color: azure;
}

.data input {
    border: none;
    border-radius: 10px;
    height: 25px;
}

.data label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}


.outer {
    height: 1000px;
    width: 1000px;
    background-color: black;
    position: absolute;

}

.inner {
    height: 100px;
    width: 100px;
    background-color: red;
    position: sticky;
    top: 20px;
}

.header-container {
    display: flex;
    background-color: #333;
    justify-content: space-around;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.head-items {
    color: white;
    display: flex;
    gap: 25px
}

.logo-image {
    height: 75px;
    width: 75px;
    object-fit: contain;
}

.head-items li {
    list-style: none;
    font-size: 20px;
}

.student {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-size: 100px;
}